.home-content{
    height: 100vh;
    color: white;
    background: #000;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}
.homeleft{
    width: 40%;
    /* text-align: center; */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
/* .homeright{ */

/* } */
.maintext{
    width: 100%;
    text-wrap: wrap;
}