@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
  font-family: 'Poppins';
}
.th1{
  font-size: xx-large;
}
.th2{
  font-size: x-large;
}
.th3{
  font-size: larger;
}
.tp{
  font-size: medium;
}
.footer{
  background: gray;
  padding: 10px;
  text-align: center;
}
